<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Bangers|Carter+One|Cinzel|Courgette|Exo+2|Fugaz+One|Germania+One|Josefin+Sans|Kalam|Lobster|Luckiest+Guy|Monoton|Montserrat|Oswald|Pacifico|Righteous|Sigmar+One|Syncopate|Teko" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="about.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
    <title>ABOUT</title>
    <h1>ABOUT THE PROJECT</h1>
</head>
<body>
    <div>
    <p>This project is created by: </p>
        <ul>
            <li>Abhinay  Das</li>
            <li>Dhanjit  Kalita</li>
            <li>Raj  Paul</li>
            <li>Subhojit  Kumar  Saha</li>
        </ul>
    </div>