<html>
<html>
<head>
  <title>CONTACT PAGE</title>
  <link rel="stylesheet" type="text/css" href="design.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<div class="photo-img"></div>
<div class="photo-text">
  <div>
    <i class="fas fa-phone"></i>
    <h6 class="heading">Contact us</h6>
  </div>
  <div class="mail">
    Feel free to mail us anytime at:-
  </div>
  <div class="id">
   jeevanjyothospitals.da@gmail.com
  </div>
  <div class="address">
    Our address and helpline nos:-
  </div>
  <div class="idd">
   Kokilaben Dhirubhai Ambani Hospital and Medical Research Center, Rao Saheb AchutraoPatwardhan Marg, Four Bunglows, Andheri (W), Mumbai, India - 400053
  </div>
   <div class='inline1'><div>Helpline No-1:   </div></div>
   <div class='inline1'><div>7896573755</div></div>
   <div class='inline2'><div>Helpline No-2:   </div></div>
   <div class='inline2'><div>7578839598</div></div>
   <div class='inline3'><div>Helpline No-3:   </div></div>
   <div class='inline3'><div>8638576739</div></div>
   <div class='inline4'><div>Helpline No-4:   </div></div>
   <div class='inline4'><div>7002185277</div></div>
  </div>
</body>
</html>