<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Fruktur|Kalam:700|Oregano|Titillium+Web|Bree+Serif|Carter+One|Luckiest+Guy|Monoton|Sigmar+One&display=swap"rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="usercss.css">
	<title>HMS</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
    <body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: rgba(255,255,255,0.6);">
		    <div class="container">
			     <a href="#" class="navbar-brand"><i class="fas fa-clinic-medical"></i> HMS</a>
			      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				      <span class="navbar-toggler-icon"></span>
     			  </button>
			    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    			      <ul class="navbar-nav mr-auto">
      				    <li class="nav-item ">
       				   <a class="nav-link" href="about">About <i class="far fa-address-card"></i></a>
      				    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalScrollable">  Specialities  <i class="fas fa-crown"></i></a>
                    </li>
      				    <li class="nav-item">
      					   <a class="nav-link" href="contact">Contact <i class="fas fa-phone"></i></a>
      				    </li>
      			    </ul>	
    	  		    <ul class="navbar-nav navbar-right">
      				    <li class="nav-item ">
        				   <a class="nav-link" href="login">Admin Login  <i class="fas fa-sign-in-alt"></i></a>
      				    </li>
      				    <li class="nav-item">
      					    <a class="nav-link" href="#">Facilities</a>
      				    </li>
      			    </ul>
      		</div>
        </div>
        </nav>
        
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Speciality</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h5>Pediatrician</h5>
                            <p>Pediatricians take care of younger patients, from infancy through age 18 or, in some cases, age 21.
        
                            Pediatricians provide primary health care to children, including immunizations, well-baby checks, school physicals, and treatment of coughs, colds, and stomach flu, among many other things. More seriously ill or complicated patients may be referred to a pediatric sub-specialist for specialized treatment.</p>
                     </div>
                     <div>
                         <h5>Obstetrician/Gynecologist (OB/GYN)</h5>
                         <p>An OB/GYN is a doctor who specializes in women's reproductive health. These doctors provide women with preventive care, manage pregnancy, labor, and delivery, and diagnose and treat diseases of the reproductive organs. They also specialize in women’s health issues like menopause, hormone problems, contraception, and infertility.</p>
                     </div>
                     <div>
                         <h5>Surgeon</h5>
                         <p>Surgeons can be trained in general surgery or in more specialized areas of surgery, such as orthopedic surgery, neurosurgery, cardiac surgery, or vascular surgery. Surgeons spend time planning a surgical procedure, operating in the operating room, and then following up postoperatively to identify complications and to confirm that the procedure was a success.</p>
                     </div>
                     <div>
                         <h5>Cardiologist</h5>
                         <p>Cardiology is one of many sub-specialties of internal medicine. Cardiologists focus on treatment of the heart and its blood vessels.
        
                            Training to become a cardiologist is fairly extensive, as several years of fellowship are required after completing three years of internal medicine residency.</p>
                     </div>
                     <div>
                         <h5>Gastroenterologist</h5>
                         <p>A sub-specialty of internal medicine, gastroenterologists treat the digestive system. This field attracts physicians who enjoy doing procedures, but who also like seeing patients in an outpatient setting as well.</p>
                     </div>
                     
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
        </div>


      <div class="marquee">
               <marquee scrollamount="10" scrolldelay="60">YOUR LIFE IS PRECIOUS, WE CARE</marquee>
      </div>
      <div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <!-- <li data-target="#carouselExampleCaptions" data-slide-to="2"></li> -->
      <!-- <li data-target="#carouselExampleCaptions" data-slide-to="3"></li> -->
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="http://files.hgsitebuilder.com/hostgator817288/image/b2b-appointment-setting-services.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">Book an APPOINTMENT</h2>
              <p style="color: #e62e00;font-family: 'Bree Serif', serif;font-size: 27px;">"We recommend you to book a appointment with the doctor to avoid last minute stress"</p>
            <p><a href="userappoint" class="btn btn-primary">Book It!!</a></p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://c1.sfdcstatic.com/content/dam/blogs/ca/Blog%20Posts/creating-sales-report-open-graph.png" class="d-block w-100" alt="...">
          <div class="a carousel-caption">
             <h5>REPORT</h5>
             <p><a href="reportsearch" style="font-size:60px;text-decoration:underline;">Get Reports </a></p>
          </div>        
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>